@charset "UTF-8";
/* FLEXBOX */
/* Icono del menu del movil */
/*
 * $color1 y $color2 en hex
 * $break número con %
 * $endColorstr es el fallback en IE 
 */
/*@function percent($a, $b) {
  @return percentage($a / $b);
}*/
.dashboard-view {
  background: #F18968;
  color: #FFF;
}

.dashboard-view .main-img {
  width: 40%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.dashboard-view .bar, .dashboard-view .bar-subheader {
  border: 0;
  background: transparent;
}

.dashboard-view .title {
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 300;
}

.dashboard-view .top-bar {
  display: block;
  position: relative;
  text-align: right;
}

.dashboard-view .top-bar .icon.new-item {
  position: relative;
  right: auto;
  bottom: auto;
}

.dashboard-view .addPlayer {
  margin-top: 10px;
  font-weight: 300;
}

.dashboard-view .addPlayer i:before {
  margin-right: 5px;
}

.dashboard-view .warning {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin: 20px 0;
}

.dashboard-view .card {
  box-shadow: none;
}

.dashboard-view .card i {
  color: #F18968;
}

.dashboard-view .card h2 {
  color: #F18968;
  font-size: 18px;
  text-transform: uppercase;
}

.dashboard-view .button-purple {
  margin-top: 15px;
}

.dashboard-view .creating-content .title {
  color: #FFF;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}

.dashboard-view .creating-content label {
  border: 0;
  padding: 0;
}

.dashboard-view .creating-content label span {
  color: #FFF;
  margin-bottom: 10px;
}

.dashboard-view .creating-content label input {
  padding: 20px 10px;
}

.dashboard-view .creating-content .button {
  background-color: #009688;
  border: 0;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

.game-view .content-game {
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.game-view .scroll, .game-view .card-container {
  width: 100%;
  height: 100%;
}

.game-view .close {
  color: #FFF;
  font-size: 25px;
  position: absolute;
  top: 40px;
  right: 20px;
}

.game-view .card-container {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-items: center;
  -moz-justify-items: center;
  -ms-justify-items: center;
}

.game-view .card-container .title {
  font-family: 'Patrick Hand', cursive;
  color: #FFF;
  font-size: 40px;
}

.game-view .card-container .text {
  color: #FFF;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  padding: 20px;
}

/* Empty. Add your own CSS if you like */
.padding {
  padding-top: 40px;
}

.icon.new-item {
  position: absolute;
  right: 20px;
  font-size: 20px;
  bottom: 13px;
}

.cancel-create {
  position: absolute;
  right: 10px;
  top: -40px;
  font-size: 16px;
  text-transform: uppercase;
  color: #bc421c;
}

[ng-click], [data-ng-click], [x-ng-click] {
  cursor: pointer;
}

/* Ionic Overwrite! */
.item-icon-left .icon, .item-icon-right .icon {
  font-size: 22px;
}

.button-purple {
  background-color: #784a57;
  border: 0;
  color: #FFF;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}

.button-purple:hover, .button-purple.activated {
  color: #FFF;
  background-color: #6d323c;
}
